@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);
.clearfix {
  zoom: 1;
}
body {
  color: #222;
  background: #f5f5f5;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

a {
  color: #222;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn {
  font-weight: 400;
}

a:hover,
a:focus {
  color: #d9534f;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

body > section {
  padding: 50px 0;
}

.main-title {
  text-transform: uppercase;
}

#main-slider {
  position: relative;
  z-index: 5;
  color: #fff;
}

#main-slider .carousel-inner {
  overflow: visible;
}

.backstretch:before {
  content: "";
  background-image: url(../images/overlays/04.png);
  min-width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}

#main-slider .carousel h2 {
  font-size: 44px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 30px;
}

#main-slider .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-transform: uppercase;
}

#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

.portfolio-item:hover h5,
.team-member:hover .team-content,
.post:hover .content {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 4px solid #00b29e;
}

.center {
  text-align: center;
}

.navbar-inverse {
  background-color: #202020;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-toggle {
  background-color: transparent;
  color: #fff;
}

.navbar-fixed-top {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-brand {
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 15px;
  padding: 10px;
  color: #f5f5f5;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover::before,
.navbar-inverse .navbar-nav > li > a:focus::before,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: opacity 0.3s 0 0.3s;
  -moz-transition: opacity 0.3s 0 0.3s;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #202020;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border: 0;
  padding: 0;
  margin-top: 0px;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #efefef;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
}

.opaqued {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbar-inverse.opaqued .navbar-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fa-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 15px;
  background-color: #00b29e;
  text-align: center;
  display: block;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
  overflow: hidden;
  -webkit-transition: background 0.3s color 0.3s box-shadow 0.3s;
  -moz-transition: background 0.3s color 0.3s box-shadow 0.3s;
  transition: background 0.3s color 0.3s box-shadow 0.3s;
}

.service-block:hover .fa-md {
  background: transparent;
  color: #00b29e;
  box-shadow: 0 0 0 4px #00b29e;
}

.service-block .media-heading {
  margin-bottom: 10px;
  font-size: 16px;
}

.section-heading hr {
  margin: 5px auto;
  max-width: 600px;
}

.gap {
  margin-bottom: 50px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.row > div {
  margin-bottom: 10px;
}

#content-wrapper {
  padding: 0;
  z-index: 5;
  position: relative;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.white {
  background: #f8f8f8;
  padding: 20px 0;
}

#content-wrapper section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#footer-wrapper {
  z-index: 1;
  padding-top: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202020;
}

.divider-section {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  display: block;
  color: #f5f5f5;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.btn-outlined.btn-primary {
  background: none;
  border: 2px solid #00b29e;
  color: #00b29e;
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
  color: #fff;
  background: #00b29e;
  border-color: #00b29e;
}

.no-display {
  opacity: 0;
}

.appear {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.post {
  background-color: #fff;
  overflow: hidden;
}

.post .content {
  padding: 15px;
  position: relative;
  border-bottom: 4px solid #f0f0f0;
}

.post .content:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

.post .author {
  text-transform: uppercase;
  font-size: 12px;
  color: #737373;
  padding: 10px 0 8px;
}

.post .post-img-content {
  position: relative;
  padding: 0;
}

.post .post-img-content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.post .post-img-content .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}

.post .post-img-content:hover .overlay {
  opacity: 1;
}

.post .post-title {
  font-size: 18px;
  margin: 0 0 10px;
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}

.read-more-wrapper {
  margin: 25px 0 5px;
  text-align: right;
}

.stat-icon {
  font-size: 44px;
}

#stats h1 {
  margin: 10px 0;
  font-size: 32px;
}

#stats h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.backstretch {
  z-index: 3 !important;
}

@media screen and (min-width: 768px) {
  #main-slider .carousel,
  #main-slider .carousel-inner,
  #main-slider .carousel-inner .item,
  #main-slider .carousel-inner .item .container,
  #main-slider .carousel-inner .item .row,
  #main-slider .carousel-inner .item .row .col-sm-12 {
    height: 100vh;
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #f5f5f5 url("../images/loading.gif") no-repeat center center;
}

.navbar-inverse .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 15px 15px 10px;
  color: #f5f5f5;
  font-weight: 400;
}

.btn {
  padding: 10px 16px;
  font-size: 13px;
  letter-spacing: 2px;
}

.post .post-title {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
}

.overlay .btn-outlined.btn-primary {
  background-color: #fff;
  border-color: #fff;
}

.post .content {
  padding: 25px 15px;
}

.post .author {
  text-transform: uppercase;
  font-size: 10px;
  color: #737373;
  padding: 10px 0 8px;
  margin-bottom: 10px;
}

.section-heading hr {
  margin: 20px auto;
  max-width: 330px;
  opacity: 0.9;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.section-heading p {
  text-transform: uppercase;
}

#content-wrapper {
  box-shadow: none;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 15px 15px 15px;
  color: #eee;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.backstretch:before {
  content: "";
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.4);
}
